<script src="http://getbootstrap.com/docs-assets/js/holder.js"></script>
<div class="row" style="padding: 0px;">
<div class="jumbotron">
  <h1>Ready to have fun?</h1>
  <% if signed_in? %>
    <%= link_to "Get Started", events_path, class: "btn btn-large btn-success" %>
  <% else %>
    <a class="btn btn-large btn-success" role="button" data-toggle="modal" data-target="#infoModal">Get Started</a>
  <% end %>
</div>
</div>
<div class="row firstrow">
<div class="container marketing">
<div class="row">
  <div align="center">
    <h1 style = "font-size: 43px">Give Your Guests All The Juicy Details:<br>Share maps and event information easily with CrispyChicken</h1>
    <h3>If you're planning:<br> *A birthday celebration full of exciting events<br> *A progressive dinner party<br> *A weekly meetup with rotating locations <br>* Or any other delicious event </h3>
    <h2 style = "font-size: 35px">Serve your guests some CrispyChicken! </h2>

      
    
  </div>
</div>
</div>
</div>
<div class="row" style="background: #82A64A">
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/Crispy_Example_4.png" alt="Crispy Chicken">
          <h2>What is CrispyChicken?</h2>
          <p>Crispy Chicken allows you to create a customized map for your next group event and share it with your guests.<br> 
     (Of course, crispy chicken is also a delicious entreé.)</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/Crispy_Example_4.png" alt="Crispy Chicken">
          <h2>Why CrispyChicken?</h2>
          <p>- Put multiple events on one map <br>
      - Provide detailed event descriptions for your guests<br>
      -Share your event information by email or on facebook, twitter, or google+</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/Crispy_Example_4.png" alt="Crispy Chicken">
          <h2>How do I use CrispyChicken?</h2>
          <p>Just click the Get Started button above to create an account and start adding your events!</p>
          <p><a class="btn btn-default" href="#" role="button">To Top of Page &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
   </div>
</div>
<div class="row" style="background: #2A8095">
    <!-- START THE FEATURETTES -->
    <div class="container marketing">
       <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Detailed Event Listings <span class="text-muted">Everything They Need To Know</span></h2>
          <p class="lead">Your guests will always have the information they need because we confirm that you've given them an address, a date, a time, a location name, and as many other details as you'd like.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/Crispy_Example_2.png" alt="An example event listing">
        </div>
      </div>

      <div class="row featurette" style=>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/Crispy_Example_3.png" alt="An example map with multiple events">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Put Multiple Destinations <span class="text-muted">On One Zoomable Map </span></h2>
          <p class="lead">Where are we going? <br>How far is it to the restaurant? <br>Can I walk from there to the bar? <br>Let your guests see for themselves.</p>
          
        </div>
      </div>
      <br>
       <h3 align="center"> No actual chickens were harmed in the making of CrispyChicken.</h3>
       <h4 align="center">Get started now! <a class="btn btn-default" href="#" role="button">To Top of Page &raquo;</a></h4>

      <!--<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>-->

      <!-- /END THE FEATURETTES -->
</div>
<!--modal!-->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" arialabelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="infoModalLabel">Create Your Account!</h2>
      </div>
      <div class="modal-body">
       <h4>Let's start with your details...</h4>
       <%= form_for @user, :html => { :class => "form-inline" } do |f| %>
          <%= f.label :firstname, 'Name', :class => "bold" %><br>
	<div class="form-group">
          <%= f.text_field :firstname, :placeholder => "First Name", :class => "form-control" %>
	</div>
	<div class="form-group">
          <%= f.text_field :lastname, :placeholder => "Last Name", :class => "form-control" %>
        </div>
	<br><br>
        <div class="form-group">
          <%= f.label :email, "Email Address" %>
          <%= f.email_field :email, :placeholder => "email@example.com", :class => "form-control" %>
        </div>
	<br><br>
          <%= f.label :firstname, 'Password', :class => "bold" %><br>
	<div class="form-group">
          <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
	</div>
	<div class="form-group">
          <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "form-control" %>
        </div>
	<br><br>
        <div class="form-group">
          <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <%= f.submit "Next", class: "btn btn-primary" %>
        </div>
	<a href="#">
	<div class="pull-right btn btn-primary facebook">
	  <span>Register with Facebook</span> <img src="/assets/facebook.png" width="25" align="right">
	</div>
	</a>
      <% end %>
    </div>
  </div>
</div>
